/*
------------------------------ C O M M O N S ------------------------------
*/
.root {
    -fx-base: rgb(0,0,0);
    -fx-background: rgb(0,0,0);
    -fx-text-base-color: white;
    -fx-accent: rgb(25, 157, 120);
    -icons-color:  yellowgreen;
    -value-view-color: white;
    -fx-focus-color: yellowgreen;
    //    -fx-font-size: 4px;
}

.button, .toggle-button{
    //-fx-font-size: 2em;
    -fx-background-color: null;
    -fx-background-radius: 1em;
    -fx-padding: 0.5em 0.8em 0.5em 0.8em;
}

.button:pressed, .toggle-button:pressed{
    -icons-color: radial-gradient(center 50% 100%, radius 120%,  #ffffff 35%, derive(#ffffff, -15%) 50%);
    -fx-focus-color: -fx-background;
    -fx-background-color: #ffffff,#2e2e2e;
    -fx-background-insets: 0,1;
}

.button .text, .toggle-button .text{
    /*   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 2 , 2 );*/
}


.toggle-button:selected{
    -icons-color: radial-gradient(center 50% 100%, radius 120%,  #fefefe 35%, #e1e1e1 50%);
    -fx-text-fill: yellowgreen;
}

.label{
    -fx-font-size: 1em;
    -fx-text-fill: white;
}

.slider .thumb {
    -fx-background-color: -fx-color;
    -fx-background-radius: 2.0em; 
    -fx-padding: 2.0em; 
}

.slider .thumb:pressed {
    -fx-color: white;
}

.slider .track {
    -fx-background-color: derive(-fx-color, -10%);  
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.progress-bar .track {
    -fx-background-color: yellowgreen;
}


/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    -fx-background-radius: 0.5em;
    -selected-background-color: null;
    -fx-tab-min-height: 3em; 
    -fx-tab-max-height: 3em; 
}

.tab-pane .tab
{
    -fx-font-size: 1.4em;
    -fx-font-weight: normal;
    -fx-padding: 0em 0.8em 0em 0.8em;
    -fx-background-color: null;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected .focus-indicator
{
    -fx-border-width: 0.1em;
    -fx-border-color: white;
    -fx-border-insets: -0.00em -0.5em -0.0em -0.5em;
    -fx-border-radius: 2em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: null;
}

.tab-pane .tab > .tab-container > .tab-label
{
    -fx-text-fill: gray;
}

.tab-pane .tab:selected
{
    -fx-background-color: null;
    -fx-text-fill: white;
}

.tab-pane .tab:hover
{
}

.tab-pane .tab:selected > .tab-container > .tab-label
{
    -fx-text-fill:-fx-text-base-color;
}

.tab-pane .tab:pressed
{
    //-fx-background-color: derive(-selected-background-color, 20%);
}

.tab-pane .tab:pressed  > .tab-container > .tab-label
{
    -fx-text-fill: -fx-text-base-color;
}


/*******************************************************************************
 *                                                                             *
 * Value View                                                                  *
 *                                                                             *
 ******************************************************************************/


.value-view{
    -fx-background-radius: 0.5em;
    -fx-background-color: derive(black, 30%);
}

.value-view:extreme-small-device{
    -fx-font-size: 0.8em;
}

.value-view:small-device{
    -fx-font-size: 1.5em;
}

.value-view:medium-device{
    -fx-font-size: 2.5em;
}

.value-view:large-device{
    -fx-font-size: 3.0em;
}

.value-view .icon{
    -fx-fill: -value-view-alt-color;
}

.value-view .unit{
    -fx-text-fill: -value-view-alt-color;
}

.value-view .value{
    -fx-text-fill: -value-view-color;
}

.value-view .title{
    -fx-text-fill: -value-view-alt-color;
}

.value-view .separator .line{
    -fx-border-width: 0.03em;  
    -fx-border-color: -value-view-alt-color;
}

/*******************************************************************************
 *                                                                             *
 * Device Switch                                                               *
 *                                                                             *
 ******************************************************************************/

.device-switch{
    -fx-background-radius: 0.5em;
    -fx-background-color: derive(black, 30%);
}

.device-switch:extreme-small-device{
    -fx-font-size: 0.8em;
}

.device-switch:small-device{
    -fx-font-size: 1.5em;
}

.device-switch:medium-device{
    -fx-font-size: 2.5em;
}

.device-switch:large-device{
    -fx-font-size: 3.0em;
}

.device-switch .title{
    -fx-text-fill: white;
}

.device-switch .on{
    -fx-background-color: derive(yellowgreen, -70%);
    -fx-padding: 10 10 10 10;
}

.device-switch .on:pressed{
    -fx-background-color: derive(yellowgreen, -20%);
}

.device-switch .off{
    -fx-background-color: derive(orangered, -70%);
}

.device-switch .off:pressed{
    -fx-background-color: derive(orangered, -20%);
}

/*
------------------------------ S P E C I A L S ------------------------------
*/

.button-exit{
    -icons-color: firebrick;
}

.button-exit:pressed{
    -icons-color: orangered;
}

/*
.button-control{
    -fx-background-color: #ffffff,#2e2e2e;
    -fx-background-insets: 0,4;
    -fx-background-radius: 3em;
    -fx-padding: 0.5em 0.8em 0.5em 0.8em;
}



.button-on, .button-control{

    -icons-color: yellowgreen;
}

.button-control.button-on:pressed{
    -icons-color: yellowgreen;
    -fx-background-color: yellowgreen;
}

.button-off{
    -icons-color: firebrick;
    -fx-background-color: null;
}

.button-off:pressed{
    -icons-color: orangered;
    -fx-background-color: gray;
}
*/

.glyph-icon{
    -fx-fill: -icons-color;
}

.top-bottom-pane{
    -fx-background-color: #1e1e1e;
}

.app-label{
    -fx-font-size: 0.7em;
}


.base-pane{
    -fx-background-color: rgb(0,0,0);
    -fx-background-image: url("wolken.jpg");
    -fx-border-image-repeat: stretch; 
    -fx-background-position: center center;
}

.top-pane{
    -fx-background-color: gray;
}

.center-pane{
    -fx-padding: 0.3em;
}

.values-grid-pane{
    -fx-hgap: 0.3em;
    -fx-vgap: 0.3em;
}

.switches-pane{
    -fx-spacing: 0.3em;
    -fx-padding: 0.3em;
}
